<div class="flex flex-col items-center w-full">
  <p class="mb-6 font-bold self-start">Accuracy:</p>
  <div class="flex gap-8 items-center justify-evenly w-full">
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="flex flex-col gap-2 items-center justify-center">
        <div class="radial-progress text-white/90"
             [style]="currentRadial">{{current}}%
        </div>
        <p class="text-sm">Current</p>
      </div>
    </div>
    <div class="flex flex-col gap-2 items-center justify-center">
      <div class="radial-progress text-success" [style]="bestRadial">{{setData.best ? setData.best * 100 : 0}}%</div>
      <p class="text-sm">Best</p>
    </div>
  </div>
</div>
