<div class="flex gap-8 items-center justify-between w-[15rem]">
  <div class="flex flex-col gap-4 items-center justify-center">
    <div class="flex flex-col gap-4 items-center justify-center">
      <p>Current</p>
      <div class="radial-progress text-white/90"
           [style]="currentRadial">{{current}}%
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-4 items-center justify-center">
    <p>Best</p>
    <div class="radial-progress text-success" [style]="bestRadial">{{setData.best ? setData.best * 100 : 0}}%</div>
  </div>
</div>