<input type="checkbox" id="new-set-dialog" class="modal-toggle" checked="true"/>
<label for="new-set-dialog" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <label for="new-set-dialog" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <div class="flex flex-col gap-4">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Average Puzzle Rating</span>
        </label>
        <div class="flex items-center gap-4">
          <input #setRatingRange type="range" min="100" max="3000" step="50" [value]="setRating"
                 class="range range-primary"
                 (input)="changeRating(setRatingRange.value)"/>
          <input #setRatingInput type="text" class="input input-bordered max-w-[5rem]" [value]="setRating"
                 (input)="changeRating(setRatingInput.value)"/>
        </div>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Set Size</span>
        </label>
        <div class="flex items-center gap-4">
          <input #setSizeRange type="range" min="25" max="200" step="25" [value]="setSize"
                 class="range range-primary"
                 (input)="changeSize(setSizeRange.value)"/>
          <input #setSizeInput type="text" class="input input-bordered max-w-[5rem]" [value]="setSize"
                 (input)="changeSize(setSizeInput.value)"/>
        </div>
      </div>

      <div class="flex flex-col items-center">
        <h4 class="text-lg">Puzzle Themes</h4>
        <p class="text-sm">Select up to 3 themes. Select none for a mix of all themes.</p>
        <div class="grid w-full grid-cols-2 gap-x-8 mt-4">
          <label *ngFor="let item of themes" class="label cursor-pointer">
            <span class="label-text">{{item.title}}</span>
            <input type="checkbox" class="checkbox" [value]="item.slug" (change)="onThemeSelection($event)"/>
          </label>
        </div>
      </div>

      <label for="new-set-dialog" class="btn" (click)="createSet()">Create Set</label>
    </div>
  </label>
</label>
