<div class="grid grid-cols-2 mt-8">
  <div class="justify-items-end">
    <app-board></app-board>
  </div>
  <div class="flex flex-col items-center w-full gap-8 select-none">
    <h2 *ngIf="toMove == 'white'"
        class="rounded-md px-4 py-2 text-lg text-slate-800 font-bold bg-slate-100 tracking-wide">{{toMove | uppercase}}
      TO
      MOVE</h2>
    <h2 *ngIf="toMove == 'black'"
        class="rounded-md px-4 py-2 text-lg text-slate-100 font-bold bg-black tracking-wide">{{toMove | uppercase}} TO
      MOVE</h2>

    <app-set-stats *ngIf="setData" [setData]="setData"></app-set-stats>
    <div *ngIf="user" class="flex flex gap-4">
      <button (click)="resetPuzzle()" class="btn">Reset</button>
      <button (click)="getNextPuzzle()" class="btn">Random</button>
      <button (click)="getHint()" class="btn">Get Hint</button>
      <button (click)="getPromotion()" class="btn">Promotion</button>
    </div>
    <div class="flex gap-8">
      <div *ngIf="!showBackButton || puzzleComplete">
        <button (click)="backOneMove()"
                class="btn btn-square btn-error flex items-center justify-center w-44 h-fit">
          <img alt="" height="32px" src="../../../assets/reload.svg" width="32px">
        </button>
      </div>
      <div *ngIf="puzzleComplete">
        <button (click)="getNextPuzzle()"
                class="btn btn-square btn-success flex items-center justify-center w-44 h-fit">
          <img alt="" height="32px" src="../../../assets/check.svg" width="32px">
        </button>
      </div>
    </div>

  </div>
</div>
