<div class="flex flex-col lg:flex-row gap-8 justify-center">
  <div class="flex justify-center">
    <app-board></app-board>
  </div>
  <!--  <app-set-info *ngIf="setData" [setData]="setData"></app-set-info>-->
  <div *ngIf="setData"
       class="flex flex-col items-center w-[410px] gap-12 select-none gap-8 bg-[#273140] rounded-2xl py-12 h-[600px]">
    <div class="flex flex-wrap w-full gap-4 justify-center items-center">
      <span *ngIf="setData.themes.length == 0" class="text-sm bg-slate-700 p-2 rounded-lg">All Themes</span>
      <span *ngFor="let theme of setData.themes" class="text-sm bg-slate-700 p-2 rounded-lg">{{theme.title}}</span>
    </div>
    <app-progress-bar class="w-full" [completed]="setData.completed"
                      [puzzleCount]="setData.puzzleCount"></app-progress-bar>
    <app-win-rate-radials *ngIf="setData" [setData]="setData"></app-win-rate-radials>
    <div *ngIf="user" class="flex flex gap-4">
      <button (click)="resetPuzzle()" class="btn">Reset</button>
      <button (click)="getNextPuzzle()" class="btn">Skip</button>
      <button (click)="getHint()" class="btn">Get Hint</button>
    </div>
    <div class="flex gap-8 mt-auto">
      <!--      <div *ngIf="!puzzleComplete && showBackButton">-->
      <!--        <h2 *ngIf="toMove == 'white'"-->
      <!--            class="rounded-md px-4 py-2 text-md text-black bg-slate-100 tracking-wide">{{toMove | uppercase}}-->
      <!--          TO-->
      <!--          MOVE</h2>-->
      <!--        <h2 *ngIf="toMove == 'black'"-->
      <!--            class="rounded-md px-4 py-2 text-md text-slate-100 bg-[#1f1f1f] tracking-wide">{{toMove | uppercase}}-->
      <!--          TO-->
      <!--          MOVE</h2>-->
      <!--      </div>-->
      <div>{{minutes}}:{{seconds}}</div>
      <div *ngIf="!showBackButton || puzzleComplete">
        <button (click)="backOneMove()"
                class="btn btn-square btn-error flex items-center justify-center w-44 h-fit">
          <img alt="" height="32px" src="../../../assets/reload.svg" width="32px">
        </button>
      </div>
      <div *ngIf="puzzleComplete">
        <button (click)="getNextPuzzle()"
                class="btn btn-square btn-success flex items-center justify-center w-44 h-fit">
          <img alt="" height="32px" src="../../../assets/check.svg" width="32px">
        </button>
      </div>
    </div>

  </div>
</div>

