<div class="flex flex-col gap-4 items-center justify-center bg-base-200 p-8 rounded-2xl shadow-xl">
  <div class="stats text-white/90 shadow bg-base-300/90">
    <div class="stat">
      <div class="stat-title">
        Rating
      </div>
      <div class="stat-value">
        {{set.rating}}
      </div>
    </div>
    <div class="stat">
      <div class="stat-title">
        Size
      </div>
      <div class="stat-value">
        {{set.puzzleCount}}
      </div>
    </div>
    <div class="stat">
      <div class="stat-title">
        Completed
      </div>
      <div class="stat-value">
        {{set.timesCompleted}}
      </div>

    </div>
  </div>
  <h4 class="text-xl font-bold mt-2">Correct %</h4>
  <app-win-rate-radials [setData]="set"></app-win-rate-radials>
  <div class="flex gap-8 mt-2">

    <button class="btn btn-success text-black" [routerLink]="['/set']" [queryParams]="{id: set.id}">
      Continue
    </button>
    <button class="btn btn-error" (click)="deleteSet()">Delete</button>
  </div>
</div>