<div class="flex justify-center gap-8 mt-8">
  <div>
    <app-board></app-board>
  </div>
  <div class="flex flex-col items-center">
    <div class="flex flex gap-4 flex-grow">
      <button class="btn btn-primary btn-outline" (click)="handleReset()">Reset</button>
      <button class="btn btn-primary btn-outline" (click)="handleRandomPuzzle()">Random</button>
      <button class="btn btn-primary btn-outline" (click)="handleGetHint()">Get Hint</button>
    </div>
    <div class="w-full">
      <p class="text-lg bg-base-300/90 rounded-lg w-full py-4 text-center">{{feedbackMessage}}</p>
      <div [hidden]="showBackButton">
        <button (click)="handleBackOne()" class="btn btn-square flex items-center justify-center w-fit h-fit">
          <img src="../../assets/reload.svg" width="24px" height="24px" alt="">
        </button>
      </div>
    </div>

  </div>

</div>
